.carousel-container {
    width: 90%;
    margin-left: 5.5rem;
    border-radius: 2rem;
    overflow: hidden;
}

.carousel-container .carousel-item {
    width: 100%;
    height: 30rem;
    margin-top: 8rem;
    margin-bottom: 0rem;
    position: relative;
}

.carousel-container .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius:2rem;
}

.swiper-pagination {
    z-index: 10; /* Adjust this as needed */
  }

.showcase-container {
    margin-top: 5rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 5rem;
    justify-content: center ;
}

.showcase-item {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;
    width: 50rem;
    /* No specific height set */
}

.showcase-box {
    width: 100%;
    height: 20rem;
    background-color: rgba(247, 247, 247, 0.681);
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    
    display: flex;          
    justify-content: center; 
    align-items: center;
}

.showcase-item img {
    width: 80%;
    height: auto;
    object-fit: cover;
    display: block;

}

.showcase-item:hover img {
    filter: grayscale(50%);
}

.showcase-text {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1rem;
    color: #333;
}
